<div class="form-floating top-form">
    {{ form.username }}
    <label for="floatingInput">{{ form.username.label }}</label>
</div>
<div class="form-floating middle-form">
    {{ form.first_name }}
    <label for="floatingInput">{{ form.first_name.label }}</label>
</div>
<div class="form-floating middle-form">
    {{ form.last_name }}
    <label for="floatingInput">{{ form.last_name.label }}</label>
</div>
<div class="form-floating middle-form">
    {{ form.email }}
    <label for="floatingInput">{{ form.email.label }}</label>
</div>
<div class="form-floating middle-form">
    {{ form.password1 }}
    <label for="floatingInput">{{ form.password1.label }}</label>
</div>
<div class="form-floating bottom-form">
    {{ form.password2 }}
    <label for="floatingInput">{{ form.password2.label }}</label>
</div>
{% comment %} after I enabled newspaper for everyone Im commented this for future editions  {% endcomment %}
{% comment %} <div class="checkbox mb-3">
    <label>
        {{ form.newspaper }}
        I agree to recieve new task notifications through email.
    </label>
</div> {% endcomment %}
{% for field in form %}<div>{{ field.errors }}</div>{% endfor %}
<br>
