{% if commentsCount > 0 %}
    <div class="mb-3 px-3 bg-body-dark text-light rounded shadow-sm w-100">
        {% if not my %}<h6 class="border-bottom pb-2 mb-4">Comments</h6>{% endif %}
        {% for comment in comments %}
            {% include "comment.html" with comment=comment edit=edit %}
        {% endfor %}
    </div>
{% else %}
    <div class="mb-3 px-3 bg-body-dark text-light rounded shadow-sm w-100">
        {% if not my %}<h6 class="border-bottom pb-2 mb-4">No comments</h6>{% endif %}
    </div>
{% endif %}
