{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    {% comment %} <div class="btn-group me-2" role="group" aria-label="First group">{% include "firstButtons.html" %}</div> {% endcomment %}
    {% comment %} Brand {% endcomment %}
    <a class="navbar-brand me-auto" href="{% url 'allTasks' %}">HERISI Task Manager</a>
    {% comment %} Search {% endcomment %}
    <form class="d-flex m-auto" role="search">
      {% include "search.html" %}
    </form>
    {% comment %} Navbar {% endcomment %}
    <ul class="nav nav-pills ms-auto my-2 my-lg-0 navbar-nav-scroll">
      {% include "navbar.html" %}
    </ul>
  </div>
</nav>
