{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>{{ task.title }}</h1>
            <div>{{ task.priority }}</div>
            <div>{{ task.state }}</div>
            <div>{{ task.deadline_date }}</div>
            <div>{{ task.deadline_time }}</div>
        </div>
        {% if owner %}
            <a href="{% url "editTask" task.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url "deleteTask" task.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
{% endblock content %}
