{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block header %}
    {% include "header.html" with tabs=tabs title=title %}
{% endblock header %}
{% block content %}
    <a href=".." class="btn btn-primary">Back</a>
    <div class="card">
        <div class="card-body">
            <h1>{{ task.title }}</h1>
            <div>{{ task.priority }}</div>
            <div>{{ task.state }}</div>
            <div>{{ task.deadline_date }}</div>
            <div>{{ task.deadline_time }}</div>
        </div>
        {% if user == task.user %}
            <a href="{% url "editTaskPage" task.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url "deleteTaskPage" task.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
    <br>
    <a href="{% url "addCommentPage" task.id %}" class="btn btn-secondary">Add comment</a>
    {% include "commentList.html" with comments=comments user=user %}
{% endblock content %}
