{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block header %}
    {% include "header.html" with tabs=tabs title=title %}
{% endblock header %}
{% block content %}
    {% if count > 0 %}
        <div class="text-center pt-3 pb-2">
            <div class="container">
                <div class="pb-3 row border-warning border-bottom">
                    <div class="col h3">Task</div>
                    <div class="col h3">Owner</div>
                    <div class="col h3">Priority</div>
                    <div class="col h3">Deadline</div>
                </div>
                {% for task in tasks %}
                    <a class="text-white text-decoration-none row text-center rounded py-3 mt-2"
                       href="{% url "singleTask" task.id %}">
                        <div class="col">{{ task.title | capfirst }}</div>
                        <div class="col">{{ task.user | capfirst }}</div>
                        <div class="col">{{ task.priority }}</div>
                        <div class="col">{{ task.deadline_date }}</div>
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center pt-3 pb-2">
            <h1>Task List Is Empty</h1>
        </div>
    {% endif %}
{% endblock content %}
