<div class="card shadow-sm position-relative text-light border-0">
    <span class="badge bg-info position-absolute top-0 start-0 p-2">{{ task.state }}</span>
    <span class="badge bg-danger position-absolute top-0 end-0 p-2">{{ task.priority }}</span>
    <a href="{% url 'taskPage' task.id %}">
        {% if task.image %}
            <img src="{{ task.image.url }}" width="300" height="150" alt={{ task.image.name }}>
        {% else %}
            <svg class="bd-placeholder-img card-img-top"
                 width="300"
                 height="150"
                 xmlns="http://www.w3.org/2000/svg"
                 role="img"
                 preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                <text class="h2" x="10%" y="75%" fill="#eceeef" dy=".5em">{{ task.title | capfirst }}</text>
                <rect width="100%" height="100%" fill="#55595c"></rect>
            </svg>
        {% endif %}
    </a>
    <div class="card-body bg-dark border rounded-bottom border-top-0 border-danger">
        <text class="h2" x="10%" y="75%" fill="#eceeef" dy=".5em">{{ task.title | capfirst }}</text>
        {% if task.image %}{% endif %}
        <p class="card-text">
            <a class="text-decoration-none">@{{ task.user }}</a>
            <br>
            {{ task.description }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <small class="text-body-info">{{ task.deadline_date }}</small>
            {% if user == task.user %}
                <div class="btn-group">
                    {% if task.approved %}
                        <button href="" class="btn btn-sm btn-primary">
                            <a href="{% url "editTaskPage" task.id %}"
                               class="text-decoration-none text-light">Edit</a>
                        </button>
                        <button href="" class="btn btn-sm btn-danger">
                            <a href="{% url "deleteTaskPage" task.id %}"
                               class="text-decoration-none text-light">Delete</a>
                        </button>
                    {% else %}
                        <button class="btn btn-sm btn-warning">Not yet approved</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
