{% extends "base.html" %}
{% block title %}
    List of Tasks
{% endblock title %}
{% block content %}
    <div>
        <a href="{% url "addTask" %}" class="btn btn-primary ">
            <div>Add</div>
        </a>
    </div>
    <div class="showTasks mask-custom">
        {% if count > 0 %}
            <div class="text-center pt-3 pb-2">
                <h1>Task List</h1>
                <div class="container">
                    <div class="d-flex justify-content-start">
                        <div class="col h3">Task</div>
                        <div class="col h3">Owner</div>
                        <div class="col h3">Priority</div>
                        <div class="col h3">Deadline</div>
                    </div>
                    {% for task in tasks %}
                        <a class="text-white text-decoration-none bg-dark" href="{% url "singleTask" task.id %}">
                            <div class="row text-center border border-warning d-flex justify-content-start pt-3 pb-3 mt-2">
                                <div class="col">{{ task.title  | capfirst }}</div>
                                <div class="col">{{ task.user | capfirst }}</div>
                                <div class="col">{{ task.priority }}</div>
                                <div class="col">{{ task.deadline_date }}</div>
                            </div>
                        </a>
                        <br>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center pt-3 pb-2">
                    <h1>Task List Is Empty</h1>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
