{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    {% block style %}
      {% include "styles.html" %}
    {% endblock style %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    {% block header %}
      {% include "header.html" %}
    {% endblock header %}
    {% include "messages.html" %}
    <div id="content" class="content m-3">
      {% block content %}
      {% endblock content %}
    </div>
    {% block footer %}
      {% include "footer.html" %}
    {% endblock footer %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
