<nav class="navbar navbar-expand-lg bg-body-dark rounded text-light mb-4"
     aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample11"
            aria-controls="navbarsExample11"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <div class="navbar-brand col-lg-3 me-0">
        <a style="text-decoration:none;
                  color:white"
           class="fs-5"
           href="{% url "homePage" %}">{{ logo }}</a>
        {% comment %} {% if not title == "" %}
          :
          <div class="d-inline fs-6">{{ title }}</div>
        {% endif %} {% endcomment %}
      </div>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        {% for tab in tabs %}
          <li class="nav-item">
            <a class="nav-link px-3 text-white {{ tab.class }}"
               aria-current="page"
               href="{% url tab.link %}"
               aria-disabled="true">{{ tab.text }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">{% include "search.html" %}</div>
    </div>
  </div>
</nav>
