{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block header %}
  {% include "header.html" %}
{% endblock header %}
{% block content %}
  <h1 class="h1">Add Task</h1>
  <form method="post"
        action=""
        class="m-auto form-group"
        enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-floating top-form">
      {{ form.title }}
      <label for="floatingInput">{{ form.title.label }}</label>
    </div>
    <div class="form-floating middle-form">
      {{ form.priority }}
      <label for="floatingInput">{{ form.priority.label }}</label>
    </div>
    <div class="form-floating middle-form">
      {{ form.state }}
      <label for="floatingInput">{{ form.state.label }}</label>
    </div>
    <div class="form-floating middle-form">
      {{ form.deadline_date }}
      <label for="floatingInput">{{ form.deadline_date.label }}</label>
    </div>
    <div class="form-floating middle-form">
      {{ form.deadline_time }}
      <label for="floatingInput">{{ form.deadline_time.label }}</label>
    </div>
    <div class="form-floating bottom-form">
      {{ form.image }}
      <label for="floatingInput">{{ form.image.label }}</label>
    </div>
    {% for field in form %}<div>{{ field.errors }}</div>{% endfor %}
    <br>
    <button type="submit" class="btn btn-primary w-100">Create task</button>
  </form>
{% endblock content %}
{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
