{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block header %}
  {% include "header.html" with tabs=tabs title=title %}
{% endblock header %}
{% block content %}
  <main class="form-signin w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal text-center">Please login</h1>
    <form method="post" action="">
      {% csrf_token %}
      <div class="form-floating top-form">
        {{ form.username }}
        <label for="floatingInput">{{ form.username.label }}</label>
      </div>
      <div class="form-floating bottom-form">
        {{ form.password }}
        <label for="floatingInput">{{ form.password.label }}</label>
      </div>
      <br>
      <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
      <br>
      <div class="text-center mt-3">
        <a class="link-light" href="{% url "registerUserPage" %}">You dont have an account?</a>
      </div>
    </form>
  </main>
{% endblock content %}
